// no local #include needed; this file is included by stars.rc after winres.h/resource.h

IDA_MAIN ACCELERATORS
BEGIN
    "A",    1064,   VIRTKEY, CONTROL, NOINVERT
    "N",    110,    VIRTKEY, CONTROL, NOINVERT
    "O",    109,    VIRTKEY, CONTROL, NOINVERT
    "S",    111,    VIRTKEY, CONTROL, NOINVERT
    "F",    4201,   VIRTKEY, CONTROL, NOINVERT

    VK_F1,   138,   VIRTKEY, NOINVERT
    VK_F2,   136,   VIRTKEY, NOINVERT
    VK_F3,  2302,   VIRTKEY, NOINVERT
    VK_F4,   137,   VIRTKEY, NOINVERT
    VK_F5,   135,   VIRTKEY, NOINVERT
    VK_F6,  2011,   VIRTKEY, NOINVERT
    VK_F7,  2009,   VIRTKEY, NOINVERT
    VK_F8,   157,   VIRTKEY, NOINVERT
    VK_F9,   108,   VIRTKEY, NOINVERT
    VK_F10,   96,   VIRTKEY, NOINVERT

    VK_F12, 21000,  VIRTKEY, NOINVERT
    VK_F12, 21001,  VIRTKEY, CONTROL, NOINVERT
    VK_F12, 21002,  VIRTKEY, SHIFT,   NOINVERT
END
