127 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 350, 262
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Research"
FONT 8, "MS Sans Serif"
{
 RADIOBUTTON "", 1073, 16, 28, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1074, 16, 42, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1075, 16, 56, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1076, 16, 84, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1077, 16, 70, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1078, 16, 98, 60, 12, BS_AUTORADIOBUTTON
 COMBOBOX 1083, 200, 8, 83, 12, CBS_DROPDOWNLIST | WS_TABSTOP
 DEFPUSHBUTTON "Done", 2, 207, 210, 50, 14
 PUSHBUTTON "&Help", 118, 262, 210, 50, 14
}
