149 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 261, 209
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 RADIOBUTTON "Hyper-Expansion", 271, 16, 36, 84, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Super Stealth", 272, 16, 48, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "War Monger", 273, 16, 60, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Claim Adjuster", 274, 16, 72, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Inner-Strength", 275, 16, 84, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Space Demolition", 276, 136, 36, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Packet Physics", 277, 136, 48, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Interstellar Traveler", 278, 136, 60, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Alternate Reality", 279, 136, 72, 84, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Jack of All Trades", 280, 136, 84, 84, 10, BS_AUTORADIOBUTTON
 PUSHBUTTON "&Help", 118, 10, 190, 40, 14
 PUSHBUTTON "Cancel", 2, 60, 190, 40, 14
 PUSHBUTTON "< &Back", 1070, 110, 190, 40, 14
 PUSHBUTTON "&Next >", 1071, 160, 190, 40, 14
 DEFPUSHBUTTON "&Finish", 1072, 210, 190, 40, 14
}
