1026 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 155, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Auto Generate Options"
FONT 8, "MS Sans Serif"
{
 LTEXT "Auto Generate:", -1, 4, 4, 100, 8
 CHECKBOX "When &All players are in.", 1027, 4, 15, 90, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Force Generate:", -1, 4, 32, 100, 8
 RADIOBUTTON "Never.", 2066, 15, 46, 90, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 RADIOBUTTON "", 2067, 15, 62, 90, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 RADIOBUTTON "", 2068, 15, 78, 90, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 4, 95, 45, 14
 PUSHBUTTON "Cancel", 2, 55, 95, 45, 14
 PUSHBUTTON "&Help", IDC_HELP, 105, 95, 45, 14
}
