148 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 261, 209
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 CHECKBOX "Factories cost 1kT less of Germanium to build", 291, 135, 126, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 PUSHBUTTON "&Help", IDC_HELP, 10, 190, 40, 14
 PUSHBUTTON "Cancel", 2, 60, 190, 40, 14
 PUSHBUTTON "< &Back", 1070, 110, 190, 40, 14
 DEFPUSHBUTTON "&Next >", 1071, 160, 190, 40, 14
 PUSHBUTTON "&Finish", 1072, 210, 190, 40, 14
}
