1068 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 186, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Save Turn"
FONT 8, "MS Sans Serif"
{
 LTEXT "Do you want to save your turn before exiting?", -1, 20, 11, 153, 11
 DEFPUSHBUTTON "&Save", 1065, 96, 36, 71, 13
 PUSHBUTTON "Save &and Submit", 1066, 96, 54, 71, 13
 PUSHBUTTON "&No, Don't Save", 1067, 96, 72, 71, 13
 PUSHBUTTON "&Help", IDC_HELP, 96, 90, 71, 13
}
