141 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 199, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Change Password"
FONT 8, "MS Sans Serif"
{
 RTEXT "New Password:", -1, 6, 6, 60, 12
 EDITTEXT 268, 68, 4, 73, 14, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 RTEXT "Retype Password:", -1, 6, 24, 60, 12
 EDITTEXT 269, 68, 22, 73, 14, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 155, 4, 40, 14
 PUSHBUTTON "Cancel", 2, 155, 22, 40, 14
 PUSHBUTTON "&Help", IDC_HELP, 155, 40, 40, 14
 LTEXT "", 2018, 8, 47, 135, 23
}
