146 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 261, 209
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 RTEXT "Race Name:", -1, 6, 7, 68, 10
 EDITTEXT 268, 76, 6, 90, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 RTEXT "Plural Race Name:", -1, 6, 23, 68, 10
 EDITTEXT 2075, 76, 22, 90, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 RTEXT "Password:", -1, 6, 39, 68, 10
 EDITTEXT 269, 76, 38, 60, 12, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 RADIOBUTTON "Humanoid", 271, 26, 64, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Rabbitoid", 272, 26, 80, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Insectoid", 273, 26, 96, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Nucleotid", 274, 26, 112, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Silicanoid", 275, 112, 64, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Antetheral", 276, 112, 80, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Random", 277, 112, 96, 70, 14, BS_AUTORADIOBUTTON
 RADIOBUTTON "Custom", 278, 112, 112, 70, 14, BS_AUTORADIOBUTTON
 LTEXT "Spend up to 50 leftover advantage points on:", -1, 26, 144, 170, 12
 COMBOBOX 2074, 26, 156, 156, 74, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Help", 118, 10, 190, 40, 14
 PUSHBUTTON "Cancel", 2, 60, 190, 40, 14
 PUSHBUTTON "< &Back", 1070, 110, 190, 40, 14, WS_DISABLED | WS_TABSTOP
 DEFPUSHBUTTON "&Next >", 1071, 160, 190, 40, 14
 PUSHBUTTON "&Finish", 1072, 210, 190, 40, 14
}
