150 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 261, 209
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 CTEXT "Lesser Racial Traits", -1, 80, 14, 80, 12
 CHECKBOX "", 291, 10, 26, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 292, 10, 40, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 293, 10, 54, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 294, 10, 68, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 295, 10, 82, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 296, 10, 96, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 297, 10, 110, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 298, 135, 26, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 299, 135, 40, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 300, 135, 54, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 301, 135, 68, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 302, 135, 82, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 303, 135, 96, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "", 304, 135, 110, 115, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 PUSHBUTTON "&Help", 118, 10, 190, 40, 14
 PUSHBUTTON "Cancel", 2, 60, 190, 40, 14
 PUSHBUTTON "< &Back", 1070, 110, 190, 40, 14
 DEFPUSHBUTTON "&Next >", 1071, 160, 190, 40, 14
 PUSHBUTTON "&Finish", 1072, 210, 190, 40, 14
}
