160 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 260, 270
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Battle VCR"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "|<<", 161, 4, 244, 32, 13
 PUSHBUTTON "<", 162, 39, 244, 32, 13
 DEFPUSHBUTTON ">/||", 163, 76, 244, 32, 13
 PUSHBUTTON ">", 164, 114, 244, 32, 13
 PUSHBUTTON ">>|", 165, 150, 244, 32, 13
 PUSHBUTTON "&Done", 1, 187, 244, 32, 13
 PUSHBUTTON "&Help", 118, 224, 244, 32, 13
}
