151 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 261, 209
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 RADIOBUTTON "Costs 75% extra", 271, 16, 36, 90, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Costs standard amount", 272, 16, 48, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 50% less", 273, 16, 60, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 75% extra", 274, 16, 84, 90, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Costs standard amount", 275, 16, 96, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 50% less", 276, 16, 108, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 75% extra", 277, 16, 132, 90, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Costs standard amount", 278, 16, 144, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 50% less", 279, 16, 156, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 75% extra", 280, 140, 36, 90, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Costs standard amount", 281, 140, 48, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 50% less", 282, 140, 60, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 75% extra", 283, 140, 84, 90, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Costs standard amount", 284, 140, 96, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 50% less", 285, 140, 108, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 75% extra", 286, 140, 132, 90, 10, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Costs standard amount", 287, 140, 144, 90, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Costs 50% less", 288, 140, 156, 90, 10, BS_AUTORADIOBUTTON
 CHECKBOX "", 291, 12, 174, 210, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 PUSHBUTTON "&Help", IDC_HELP, 10, 190, 40, 14
 PUSHBUTTON "Cancel", 2, 60, 190, 40, 14
 PUSHBUTTON "< &Back", 1070, 110, 190, 40, 14
 PUSHBUTTON "&Next >", 1071, 160, 190, 40, 14, WS_DISABLED | WS_TABSTOP
 DEFPUSHBUTTON "&Finish", 1072, 210, 190, 40, 14
}
