2502 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 145, 184
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Stars! Tutor"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Hide", 2, 5, 167, 40, 12
 PUSHBUTTON "Hint", 118, 50, 167, 40, 12
 PUSHBUTTON "Panic!", 2503, 95, 167, 40, 12
}
