2013 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 239, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Battle Plans"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "&Delete", 2071, 5, 95, 50, 14
 PUSHBUTTON "&Copy", 1052, 63, 95, 50, 14
 DEFPUSHBUTTON "Close", 1, 121, 95, 50, 14
 PUSHBUTTON "&Help", 118, 179, 95, 50, 14
 LTEXT "&Plan:", -1, 5, 11, 22, 9
 COMBOBOX 1054, 32, 9, 135, 55, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Rename...", 1051, 179, 8, 45, 14
 LTEXT "P&rimary Target:", -1, 5, 32, 64, 9
 COMBOBOX 1055, 70, 30, 95, 95, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "S&econdary Target:", -1, 5, 47, 64, 9
 COMBOBOX 1056, 70, 45, 95, 95, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Tactic:", -1, 5, 60, 64, 9
 COMBOBOX 1057, 70, 60, 95, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Attack &Who:", -1, 5, 75, 64, 9
 COMBOBOX 1058, 70, 75, 95, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 CHECKBOX "D&ump Cargo", 1053, 179, 75, 60, 10, BS_AUTOCHECKBOX | WS_TABSTOP
}
