2019 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 162, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Rename Battle Plan"
FONT 8, "MS Sans Serif"
{
 LTEXT "New Name:", -1, 6, 6, 40, 12
 EDITTEXT 268, 45, 4, 110, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 12, 30, 40, 14
 PUSHBUTTON "Cancel", 2, 62, 30, 40, 14
 PUSHBUTTON "&Help", IDC_HELP, 112, 30, 40, 14
}
