393 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 160, 40
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Stars! Progress"
FONT 8, "MS Sans Serif"
{
 CTEXT "Generating data for the Year 2400", 1071, 10, 8, 140, 10
}
