390 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 261, 210
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 RTEXT "&Game Name:", -1, 10, 10, 48, 10
 EDITTEXT 1030, 64, 8, 150, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 RADIOBUTTON "Tiny", 1000, 24, 40, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "Small", 1001, 24, 52, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Medium", 1002, 24, 64, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Large", 1003, 24, 76, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Huge", 1004, 24, 88, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Sparse", 1005, 24, 124, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "Normal", 1006, 24, 136, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Dense", 1007, 24, 148, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Packed", 1008, 24, 160, 44, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Close", 1009, 96, 40, 48, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "Moderate", 1010, 96, 52, 48, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Farther", 1011, 96, 64, 48, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Distant", 1012, 96, 76, 48, 12, BS_AUTORADIOBUTTON
 CHECKBOX "Beginner:  &Maximum Minerals", 1016, 90, 94, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Slower Tech Advances", 1017, 90, 107, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Accelerated BBS Play", 1018, 90, 120, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "No &Random Events", 1019, 90, 133, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Computer Players Form Alliances", 1020, 90, 146, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Public Player Scores", 1021, 90, 159, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Galaxy Clumping", 1050, 90, 172, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 PUSHBUTTON "&Help", IDC_HELP, 10, 190, 40, 14
 PUSHBUTTON "Cancel", 2, 60, 190, 40, 14
 PUSHBUTTON "< &Back", 1070, 110, 190, 40, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Next >", 1071, 160, 190, 40, 14
 DEFPUSHBUTTON "&Finish", 1072, 210, 190, 40, 14
}
