82 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 200, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Merge Fleets"
FONT 8, "MS Sans Serif"
{
 LTEXT "Select the fleets you wish to merge:", -1, 8, 4, 140, 8
 LISTBOX 81, 8, 16, 130, 130, LBS_NOTIFY | WS_BORDER | LBS_MULTIPLESEL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 148, 16, 45, 14
 PUSHBUTTON "Cancel", 2, 148, 34, 45, 14
 PUSHBUTTON "Select &All", 2040, 148, 57, 45, 14
 PUSHBUTTON "&Unselect All", 2041, 148, 75, 45, 14
 PUSHBUTTON "&Help", IDC_HELP, 148, 98, 45, 14
}
