89 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 170, 132
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 RADIOBUTTON "", 1073, 16, 14, 86, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1074, 16, 27, 86, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1075, 16, 40, 86, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "", 1076, 16, 53, 86, 12, BS_AUTORADIOBUTTON
 LISTBOX 1047, 8, 76, 102, 66, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 120, 8, 44, 14
 PUSHBUTTON "Cancel", 2, 120, 26, 44, 14
 PUSHBUTTON "&Import", 2070, 120, 50, 44, 14
 PUSHBUTTON "&Delete", 2071, 120, 68, 44, 14
 PUSHBUTTON "&Rename", 1051, 120, 86, 44, 14
 PUSHBUTTON "&Help", 118, 120, 110, 44, 14
}
