93 DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 294, 191
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Planet Production"
FONT 8, "MS Sans Serif"
{
 LISTBOX 1046, 8, 12, 109, 84, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LISTBOX 1047, 174, 12, 111, 84, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Add ->", 1048, 125, 10, 40, 14
 PUSHBUTTON "<- &Remove", 1049, 125, 35, 40, 14
 PUSHBUTTON "Item &Up", 1081, 125, 0, 40, 14
 PUSHBUTTON "Item &Down", 1082, 125, 90, 40, 14
 PUSHBUTTON "&Clear", 1069, 125, 60, 40, 14
 PUSHBUTTON "&Help", 118, 125, 70, 40, 14
 CHECKBOX "Contribute only &leftover resources to research", 139, 6, 168, 90, 14, BS_AUTOCHECKBOX | WS_TABSTOP
 PUSHBUTTON "&Prev", 1070, 100, 168, 40, 14
 PUSHBUTTON "&Next", 1071, 147, 168, 40, 14
 DEFPUSHBUTTON "OK", 1, 198, 168, 40, 14
 PUSHBUTTON "Cancel", 2, 245, 168, 40, 14
}
