92 DIALOG LOADONCALL MOVEABLE DISCARDABLE 11, 52, 351, 250
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ship & Starbase Designer"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", 1, 281, 222, 33, 13
 PUSHBUTTON "Cancel", 2, 281, 238, 33, 13
 PUSHBUTTON "&Help", IDC_HELP, 281, 134, 33, 13
 LISTBOX 2060, 114, 90, 135, 170, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | NOT WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 RADIOBUTTON "Ships", 2064, 14, 8, 91, 13, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "Starbases", 2065, 14, 21, 91, 13, BS_AUTORADIOBUTTON
 RADIOBUTTON "Existing Designs", 2066, 14, 48, 91, 13, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "Available Hull Types", 2067, 14, 62, 91, 13, BS_AUTORADIOBUTTON
 RADIOBUTTON "Enemy Hulls", 2068, 14, 76, 91, 13, BS_AUTORADIOBUTTON
 RADIOBUTTON "Components", 2069, 14, 90, 91, 13, BS_AUTORADIOBUTTON
 PUSHBUTTON "&Copy Selected Design", 2070, 13, 114, 86, 16
 PUSHBUTTON "&Delete Selected Design", 2071, 13, 134, 86, 16
 PUSHBUTTON "&Edit Selected Design", 2072, 13, 154, 86, 16
 COMBOBOX 2074, 180, 20, 142, 78, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 EDITTEXT 2075, 186, 52, 132, 15, ES_AUTOHSCROLL | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP
}
