IDD_PASSWORD DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 145, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Stars!"
FONT 8, "MS Sans Serif"
{
 LTEXT "", 2018, 6, 6, 83, 12
 EDITTEXT 268, 6, 22, 73, 14, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 96, 6, 40, 14
 PUSHBUTTON "Cancel", 2, 96, 24, 40, 14
 PUSHBUTTON "&Help", IDC_HELP, 96, 42, 40, 14
}
