IDD_SERIAL DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 170, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Stars! Serial Number"
FONT 8, "MS Sans Serif"
{
 RTEXT "Serial #:", -1, 4, 6, 50, 12
 EDITTEXT 268, 60, 4, 80, 12, ES_AUTOHSCROLL | ES_UPPERCASE | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 12, 80, 40, 14
 PUSHBUTTON "Cancel", 2, 62, 80, 40, 14
 PUSHBUTTON "&Help", IDC_HELP, 112, 80, 40, 14
}
