IDD_SIMPLE_NEW_GAME DIALOG LOADONCALL MOVEABLE DISCARDABLE 0, 0, 240, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New Game"
FONT 8, "MS Sans Serif"
{
 RADIOBUTTON "Easy", 200, 16, 18, 60, 12, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Standard", 201, 16, 32, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Harder", 202, 16, 46, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Expert", 203, 16, 60, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Tiny", 1000, 16, 90, 60, 12, BS_AUTORADIOBUTTON | WS_GROUP
 RADIOBUTTON "Small", 1001, 16, 104, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Medium", 1002, 16, 118, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Large", 1003, 16, 132, 60, 12, BS_AUTORADIOBUTTON
 RADIOBUTTON "Huge", 1004, 16, 146, 60, 12, BS_AUTORADIOBUTTON
 COMBOBOX 2074, 110, 18, 112, 76, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Customize Race...", 210, 110, 32, 112, 12
 PUSHBUTTON "&Advanced Game...", 211, 110, 404, 112, 12
 PUSHBUTTON "&Begin Tutorial", 212, 8, 170, 76, 12
 DEFPUSHBUTTON "Ok", 1072, 102, 170, 36, 12
 PUSHBUTTON "Cancel", 2, 148, 170, 36, 12
 PUSHBUTTON "&Help", IDC_HELP, 194, 170, 36, 12
}
